<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="Axis_Service_Archiver"
   name="Axis Service Maker"
   version="1.0.0"
   provider-name="Apache Software Foundation"
   class="org.apache.axis2.tool.service.eclipse.plugin.ServiceArchiver">

   <runtime>
      <library name="Axis_Service_Archiver.jar">
         <export name="*"/>
      </library>
       <library name="lib/axis2-@version_number@.jar">
           <export name="*"/>
       </library>
       <library name="lib/commons-logging-@commons.logging.version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/log4j-@log4j.version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-@ant.version@.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>

<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Axis2 Wizards"
            id="Axis2_Wizards">
      </category>
      <wizard
            name="Axis2 Service Archiver"
            icon="icons/sample.gif"
            category="Axis2_Wizards"
            class="org.apache.axis2.tool.service.eclipse.ui.ServiceArchiveWizard"
            id="org.apache.axis2.tool.service.serviceWizard">
      </wizard>
   </extension>
   <extension point="org.eclipse.help.toc">
    <toc file="help_toc.xml" primary="true" />
</extension>
</plugin>
