<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="Axis2_Codegen_Wizard"
   name="Axis2 Codegen Wizard Plug-in"
   version="1.2.0"
   provider-name="Apache Software Foundation"
   class="org.apache.axis2.tool.codegen.eclipse.plugin.CodegenWizardPlugin">

   <runtime>
      <library name="Axis2CodegenWizard.jar">
         <export name="*"/>
      </library>
      <library name="lib/activation-1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/annogen-0.1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-1.6.5.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-api-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-api-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-dom-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-dom-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-impl-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-impl-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis2-rahas-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis2-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-codec-1.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-discovery-0.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-fileupload-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-fileupload-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-httpclient-3.0.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-httpclient-3.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-io-1.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging-1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/jakarta-httpcore-4.0-alpha2.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit-3.8.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit-3.8.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/log4j-1.2.13.jar">
         <export name="*"/>
      </library>
      <library name="lib/mail-1.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/maven-itest-plugin-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/neethi-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/opensaml-1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/servletapi-2.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/stax-api-1.0.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/stax-api-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/woden-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/wsdl4j-1.5.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/wsdl4j-1.6.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/wss4j-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/wstx-asl-2.9.3.jar">
         <export name="*"/>
      </library>
      <library name="lib/wstx-asl-3.0.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/xbean-2.1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/xbean-2.2.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/xml-apis-1.3.02.jar">
         <export name="*"/>
      </library>
      <library name="lib/xml-apis-1.3.03.jar">
         <export name="*"/>
      </library>
      <library name="lib/XmlSchema-1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/XmlSchema-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/xmlsec-1.3.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/xmlunit-1.0.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.ant"/>
   </requires>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Axis2 Wizards"
            id="Axis2_Wizards">
      </category>
      <wizard
            name="Axis2 Code Generator"
            icon="icons/icon.gif"
            category="Axis2_Wizards"
            class="org.apache.axis2.tool.codegen.eclipse.CodeGenWizard"
            id="org.apache.axis2.tool.codegen.eclipse.CodeGenWizard">
      </wizard>
   </extension>
    <extension point="org.eclipse.help.toc">
    <toc file="help_toc.xml" primary="true" />
</extension>

</plugin>
