BODY         {
	background-color : "#FFFFFF";
	leftmargin:"0";
	topmargin:"0";
	font-family:Arial;
	font-size:11pt;
}
h1           { font-family: Arial; font-size: 16pt; font-weight: bold }
h2           { font-family: Arial; font-size: 13pt; font-weight: bold; color: #5D0D7D }
ul           { font-family: Arial; font-size: 11pt }
input        { font-family: Arial; font-size: 8pt; font-weight: bold }
td           { font-family: Arial; font-size: 10pt }
h3           { font-family: Arial; font-size: 12pt; font-weight:bold }
TABLE.FULL_BLANK {
	width : 100%;
	height : 100%;
	border : 0;
	padding : 0;
}

TABLE.LOG_IN_FORM{
	height: 200px%;
	border:1px solid #000000;
	width: 300px%;
	cellspacing:1px;
	cellpadding:1px;
	background-color: #f7f7f7 ;
}

UL.loginUL LI{
	padding: 10pt;
}