<server name="AxisJava2.0">
    <transports>
        <transport name="http"/>
        <transport name="smtp"/>
    </transports>
    <phaseOrder>
        <phase name="global"/>
        <phase name="transport"/>
        <phase name="Logging"/>
        <phase name="p1"/>
        <phase name="p3"/>
        <phase name="anyhase"/>
        <phase name="service"/>
    </phaseOrder>
</server>

