<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="Axis2_Codegen_Wizard"
   name="Axis2 Codegen Wizard Plug-in"
   version="1.1.0"
   provider-name="Apache Software Foundation"
   class="org.apache.axis2.tool.codegen.eclipse.plugin.CodegenWizardPlugin">

   <runtime>
      <library name="Axis2CodegenWizard.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis2-0.95-SNAPSHOT.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis-wsdl4j-1.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/stax-api-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/log4j-1.2.8.jar">
         <export name="*"/>
      </library>
      <library name="lib/stax-1.1.1-dev.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging-1.0.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/xbean.jar">
         <export name="*"/>
      </library>
      <library name="lib/XmlSchema.jar">
         <export name="*"/>
      </library>
      <library name="lib/jakarta-oro-2.0.8.jar">
         <export name="*"/>
      </library>
      <library name="lib/jalopy-1.0b11.jar">
         <export name="*"/>
      </library>
      <library name="lib/jdom.jar">
         <export name="*"/>
      </library>
      <library name="lib/annogen-0.1.0.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.ant"/>
   </requires>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Axis2 Wizards"
            id="Axis2_Wizards">
      </category>
      <wizard
            name="Axis2 Code Generator"
            icon="icons/icon.gif"
            category="Axis2_Wizards"
            class="org.apache.axis2.tool.codegen.eclipse.CodeGenWizard"
            id="org.apache.axis2.tool.codegen.eclipse.CodeGenWizard">
      </wizard>
   </extension>
    <extension point="org.eclipse.help.toc">
    <toc file="help_toc.xml" primary="true" />
</extension>

</plugin>
