
.img-title   { text-align: center }
.img         { text-align: center }
.special-td  { font-family: Arial; font-size: 10pt; font-weight: bold }
.special     { font-family: Arial; font-weight: bold; border-style: solid; border-width: 1; 
               padding-left: 4; padding-right: 4; padding-top: 1; 
               padding-bottom: 1; background-color: #C0C0C0; font-size:10pt }
.xml         { font-family: Arial; font-size: 10pt; color: #0000FF; font-style: italic }
.code         { font-family: Courier New; font-size: 10pt; color: #800000 }