<server name="AxisJava2.0">
    <parameter name="hotdeployment" locked="xsd:false">true</parameter>
    <parameter name="hotupdate" locked="xsd:false">true</parameter>

    <messageReceiver mep="INOUT" class="org.apache.axis.receivers.RawXMLINOutMessageRecevier"/>

    <transportReceiver name="http">
    </transportReceiver>
    <transportSender name="http" class="org.apache.axis.transport.http.HTTPTransportSender">
    </transportSender>


    <phaseOrder type="inflow">
        <phase name="global"/>
        <phase name="transport"/>
        <phase name="Logging"/>
        <phase name="service"/>
    </phaseOrder>
    <phaseOrder type="outflow">
        <phase name="global"/>
        <phase name="transport"/>
        <phase name="Logging"/>
        <phase name="service"/>
    </phaseOrder>
    <phaseOrder type="INfaultflow">
        <phase name="global"/>
        <phase name="transport"/>
        <phase name="Logging"/>
        <phase name="service"/>
    </phaseOrder>
    <phaseOrder type="Outfaultflow">
        <phase name="global"/>
        <phase name="transport"/>
        <phase name="Logging"/>
        <phase name="service"/>
    </phaseOrder>
</server>

